DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
GOOGLE_MAPS_API_KEY=change-me

# PostgreSQL
DB_NAME=art_culinary_crm
DB_USER=artculinary_user
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432
